# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/

# Project Output
final_grades.csv
*.log

# System
.DS_Store

# IDE
.vscode/
.idea/
